@media screen and (min-width:  986px){
	
	.left-burger{
		display: none;
	}
	.right-burger{
		display: none;
	}
}

 @media screen and (max-width: 985px){
 	.conteiner{
	 width: 99%;
	}
	.news-feed{
	width: 75%;
	} 
	.right-side{
		display: none;
	}
	.right-burger{
		display: none;
	}
} 

@media screen and (max-width: 765px){
.right-burger{
		display: block;
	} 
	.right-side{
		display: none;
	}
	.left-side{
		display: none;
	}
	.news-feed{
		width: 100%;
	} 
	.conteiner{
	 width: 99%;
	}
}
