.box{
	background-color: #71bcdb;
	border-radius: 3px;
}
.title{
	font-weight: bold;
	font-size: 24px;
	padding: 15px 0px 0px 10px;
}
.icon{
	background-color: #9fd3e8;
	border-radius: 4px;
	text-align: center;
}
.dark-blue{
	background-color: #3885b1;
}
.al-height{
	height: 400px;
	}
.af-height{
	height: 400px;
}

.sidebar-height{
	height: 400px;
	}	