@media screen and (max-width:991px){
.al-height{
	height: 300px;
	}
.af-height{
	height: 100px;
}

.sidebar-height{
	height: 50px;
	}	
}
@media screen and (max-width:575px){
.af-height{
	height: 50px;
}	
.al-height{
	height: 200px;
	}
}